@import "~bulma/sass/utilities/_all";

$primary: rgba(178, 0, 3, 0.90);
$primary-invert: findColorInvert($primary);

$secondary: rgba(126, 21, 23, 0.90);
$tertiary: rgba(176, 36, 38, 0.90);
$tertiary-invert: findColorInvert($tertiary);
$info: $tertiary;

$color--gold: #ffd400;
$color--darker--opaque: #252019;
$color--darker: rgba($color--darker--opaque,0.95);
$color--darker--active: darken($color--darker--opaque, 5%);
$color--dark: rgba(60,39,14,0.9);
$color--medium: rgb(129,93,50);
$color--lightish: rgb(175,130,74);
$color--light: rgba(190,157,116,0.9);
$color--lighter: rgba(218,180,133,0.9);
$color--lighter-invert: findColorInvert($color--lighter);

$color--epic: #b04bdf;
$color--rare: #3b8fff;
$color--uncommon: #45ff5e;
$color--legendary: #ffa500;

$color--facebook: #3a559f;
$color--youtube: #ff0000;
$color--reddit: #ff4500;
$color--twitch: #9146ff;
$color--discord: #7289da;
$color--forums: $tertiary;

$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

// Links
$link: $color--lighter;
$link-hover: darken($color--lighter, 10%);
$link-invert: $color--light;
$link-focus-border: $primary;

$color--selection: $tertiary;