@import "~bulma/sass/utilities/_all";

$primary: rgb(39,138,157);
$primary-invert: findColorInvert($primary);

$color--green: #1fb73b;
$color--red: hsl(0, 50%, 50%);
$color--blue: #4976bf;
$color--light: #efefef;
$color--dark: #4c5551;
$color--orange: hsl(40, 100%, 50%);

$color--epic: #b04bdf;
$color--rare: #3b8fff;
$color--uncommon: #45ff5e;
$color--legendary: #ffa500;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
