$menu-item-color: $grey-lighter;
$menu-item-hover-color: white;
$menu-item-hover-background-color: $color--darker--active;
$menu-item-active-color: white;
$menu-item-active-background-color: $color--darker--active;
$menu-list-border-left: none;

$menu-label-color: $color--gold;