$tabs-border-bottom-color: $color--medium;
$tabs-link-color: $grey-lighter;
$tabs-link-hover-border-bottom-color: $color--lightish;
$tabs-link-hover-color: white;
$tabs-link-active-border-bottom-color: $color--lightish;
$tabs-border-bottom-width: 2px;
$tabs-link-active-color: white;