$Primary: rgba(178, 0, 3, 0.90);
$Secondary: rgba(126, 21, 23, 0.90);
$Tertiary: rgba(176, 36, 38, 0.90);
$browsercolor: rgba(176, 36, 38, 0.90);
$pagebackground: rgb(254,244,255);
$contentbackground: rgba(242,242,242,0.90);
$textcontrolbackground: rgba(255,255,255,0.90); 
$contenttext: rgb(32,32,32);
$primarydarker: rgba(46,45,41,0.95);
$primarydark: rgba(60,39,14,0.9);
$primarymedium: rgb(129,93,50);
$primarylightish: rgb(175,130,74);
$primarylight: rgba(190,157,116,0.9);
$primarylighter: rgba(218,180,133,0.9);
$primarylighterstill: rgba(244,208,164,0.9);
$primarylightest: rgb(255,255,255);
$secondarydarker: rgb(52,77,93);
$secondarydark: rgb(70, 102, 124);
$secondarymedium: rgb(221, 229, 234);
$secondarylight: rgb(236, 241, 245);
$secondarylighter: rgb(248,251,253);
$secondarylightest: rgb(245,255,255);
$inlinemod: rgba(252, 243, 204, 0.90);