a {
  transition: color 0.25s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: opacity .25s ease-in-out, max-height .25s ease-in-out, padding .25s ease-in-out;
}

.slide-enter, .slide-leave-to {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
}

.slide-enter-to, .slide-leave {
  max-height: 100em;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-25%);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(25%);
  }
  to {
    opacity: 1;
  }
}

.slide-out-left {
  animation: slide-out-left 0.5s ease;
}

.slide-in-left {
  animation: slide-out-left 0.5s ease;
  animation-direction: reverse;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease;
}

.slide-out-right {
  animation: slide-in-right 0.5s ease;
  animation-direction: reverse;
}