@font-face {
  font-family: "Ashley Crawford MT";
  src: url("~@/assets/fonts/AshleyCrawfordMT-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/AshleyCrawfordMT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

.content {
  font-family: 'Arimo', 'Calibri', 'Carlito', sans-serif;
}
