@font-face {
  font-family: "Ashley Crawford MT";
  src: url("/fonts/AshleyCrawfordMT-Bold.woff2") format("woff2"),
    url("/fonts/AshleyCrawfordMT-Bold.woff") format("woff"), local("Times New Roman"), local("Nimbus Roman");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");

::-moz-selection,
::selection {
  background: rgba($color--selection, 0.7);
}

a {
  &:hover {
    color: $link-hover;
  }
}

.card-header-icon {
  color: $primary;

  &:hover {
    color: $primary;
  }
}

.content,
.menu,
.button {
  font-family: "Arimo", "Calibri", "Carlito", sans-serif;
}

.mdi::before {
  font-family: "Material Design Icons", "Arimo", "Calibri", "Carlito", sans-serif !important;
}

.content {
  ul {
    list-style: none;
  }
}

.monospace {
  font-family: monospace, monospace;
  font-size: 90%;
}

.title,
.subtitle {
  font-family: "Ashley Crawford MT", "Times New Roman", "Arimo", sans-serif;
  text-shadow: 2px 0 2px #192b33;
}

.has-text-ashley,
.menu-label,
.tabs a {
  font-family: "Ashley Crawford MT", "Times New Roman", "Arimo", sans-serif;
}

.has-text-gold {
  color: $color--gold !important;
}

.social-media-link {
  color: #ffffff;

  &:hover {
    &.forums {
      color: $color--forums;
    }
    &.discord {
      color: $color--discord;
    }
    &.reddit {
      color: $color--reddit;
    }
    &.facebook {
      color: $color--facebook;
    }
    &.twitter {
      color: $color--twitter;
    }
    &.instagram {
      color: $color--instagram;
    }
    &.twitch {
      color: $color--twitch;
    }
    &.youtube {
      color: $color--youtube;
    }
  }
}

@media screen and (max-width: $tablet - 1) {
  .title,
  .subtitle {
    @each $size in $sizes {
      $i: index($sizes, $size);
      &.is-#{$i} {
        font-size: $size * 0.75;
      }
    }
  }

  .icon {
    &.is-large {
      width: $icon-dimensions-large * 0.75;
      height: $icon-dimensions-large * 0.75;

      .mdi-48px.mdi-set,
      .mdi-48px.mdi::before {
        font-size: 48px * 0.75;
      }
    }
  }
}
