.clickable {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.z-back {
  z-index: -1;
}

.is-flex.is-centered {
  justify-content: center;
}

.column.is-vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns.reverse {
  flex-direction: row-reverse;
}

.column.reverse {
  flex-direction: column-reverse;
}

@media screen and (min-width: $tablet) {
  .is-visible-mobile {
    display: none !important;
  }
}

@media screen and (max-width: $tablet - 1px) {
  .columns.reverse-mobile {
    flex-direction: row-reverse;
  }
  
  .column.reverse-mobile {
    flex-direction: column-reverse;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: $breakpoint) {
    .is-vcentered-#{$name} {
      align-items: center;
    }
  
    .columns.reverse-#{$name} {
      flex-direction: row-reverse;
    }
  
    .column.reverse-#{$name} {
      flex-direction: column-reverse;
    }
  }
}