.clickable {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.z-back {
  z-index: 0;
}

.z-middle {
  z-index: 1;
}

.z-front {
  z-index: 2;
}

.transparent {
  opacity: 0;
}

.content {
  color: $grey-lighter;
}

.section-title {
  margin: 0;
}

.ul {
  list-style-type: disc !important;
}

.section {
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
