.clickable {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.z-back {
  z-index: 0;
}

.z-middle {
  z-index: 1;
}

.z-front {
  z-index: 2;
}

.is-flex.is-centered {
  justify-content: center;
}

.is-flex-column {
  flex-direction: column;
}

.section-icon {
  max-width: 200px;
  max-height: 200px;
}

.main-content {
  overflow: hidden;

  & > .section {
    margin-top: 0;
    min-height: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
  }
}

.video-background {
  position: absolute;
  overflow: hidden;
  z-index: 0;

  top: 0;
  left: 0;
  right:0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.column.is-vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns.reverse {
  flex-direction: row-reverse;
}

.column.reverse {
  flex-direction: column-reverse;
}

.transparent {
  opacity: 0;
}

.content {
  color: $grey-lighter;
}

.section-title {
  margin: 0;
}

.section {
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  li {
    ul {
      margin-top: 0 !important;
    }
  }
}

@media screen and (min-width: $tablet) {
  .is-visible-mobile {
    display: none !important;
  }
}

@media screen and (max-width: $tablet - 1px) {
  .columns.reverse-mobile {
    flex-direction: row-reverse;
  }
  
  .column.reverse-mobile {
    flex-direction: column-reverse;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: $breakpoint) {
    .is-vcentered-#{$name} {
      align-items: center;
    }
  
    .columns.reverse-#{$name} {
      flex-direction: row-reverse;
    }
  
    .column.reverse-#{$name} {
      flex-direction: column-reverse;
    }
  }
}