.is-flex.is-centered {
  justify-content: center;

  & > * {
    align-self: center;
  }
}

.grow {
  flex-grow: 1;
}

.is-absolute-centered {
  margin: auto;
}

.is-flex-column {
  flex-direction: column;
}

.section-icon {
  max-width: 200px;
  max-height: 200px;
}

.is-fullheight {
  height: 100%;
}

.main-content {

  & > .section {
    margin-top: 0;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
  }
}

.column.is-vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section.is-vcentered {
  display: flex;
  align-items: center;
}

.columns.reverse {
  flex-direction: row-reverse;
}

.column.reverse {
  flex-direction: column-reverse;
}

.video-background {
  position: absolute;
  overflow: hidden;
  z-index: 0;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

ul {
  li {
    ul {
      margin-top: 0 !important;
    }
  }
}

ul.is-marginless {
  margin-left: 2em !important;
}

@media screen and (min-width: $tablet) {
  .is-visible-mobile {
    display: none !important;
  }
}

@media screen and (max-width: $tablet - 1px) {
  .columns.reverse-mobile {
    flex-direction: row-reverse;
  }

  .column.reverse-mobile {
    flex-direction: column-reverse;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: $breakpoint) {
    .is-vcentered-#{$name} {
      align-items: center;
    }

    .columns.reverse-#{$name} {
      flex-direction: row-reverse;
    }

    .column.reverse-#{$name} {
      flex-direction: column-reverse;
    }
  }
}