@import "vars/colors";
@import "vars/breakpoints";

body {
  --color-accent: #{$color--dark};

  --color--green: #{$color--green};
  --color--red: #{$color--red};
  --color--blue: #{$color--blue};
  --color--light: #{$color--light};
  --color--dark: #{$color--dark};
  --color--orange: #{$color--orange};
  
  --color--info: #{$info};

  --color--epic: #{$color--epic};
  --color--rare: #{$color--rare};
  --color--uncommon: #{$color--uncommon};
  --color--legendary: #{$color--legendary};
}

$navbar-height: 5rem;

@import "~bulma";

@import "fonts";
@import "misc";
@import "animations";
@import "layout";

@import "card";

@import "~bulma-checkradio/src/sass/index.sass";
