.menu-list li {
  a {
    display: flex;

    .menu-link-icon {
      height: 36px;
      width: 36px;
      margin-right: 0.75rem;

      &.menu-link-sub-icon {
        width: 24px;
        height: 24px;
      }
    }

    & > span {
      align-self: center;
    }
  }
}
