name: Deploy
on:
 push:
   branches:
     - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: npm install
    - run: npm run generate
      env:
        BASE_URL: http://celeste.systemglitch.me
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Delete old files
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ${{ secrets.DEPLOY_TARGET }}
            rm -rf * .nojekyll
      - name: Upload files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          port: ${{ secrets.PORT }}
          strip_components: 1
          source: "dist"
          target: "${{ secrets.DEPLOY_TARGET }}"